body {
		background-color: #000;
        font-size:16px;
        font-family: Courier, monospace;

	}
	#console {
		font-family: courier, monospace;
		color: #fff;
		width:750px;
		margin-left:auto;
		margin-right:auto;
		margin-top:100px;
		font-size:16px;
	}
	a {
		color: #0bc;
		text-decoration: none;
	}
	#a {
		color: #0f0;
	}
	#c {
		color: #0bc;
	}
	#b {
		color: #ff0096;
	}
    #user-caption{
        color: #ffffff;
        background-color: #000000;
        border: None;
        lighting-color: #fff;
        outline-color: black;
        font-size:16px;

    }
    .cmdline{
        background-color: black;
        color: white;
        border: None;
        lighting-color: #fff;
        outline-color: black;
        font-family: Courier, monospace;
        font-size:16px;

    }
    li{
        font-size:16px;
        font-family: Courier, monospace;
    }
    ul{
        font-size:16px;
        font-family: Courier, monospace;
    }
    td{
        font-size:16px;
        font-family: Courier, monospace;
    }
    #orange-color{
        color:blanchedalmond;
    }
    #headline{
        font-style: oblique;
        color: gold;
    }