<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Video Capture Example</title>
<link href="{% static 'demo/bootstrap-reboot.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'demo/style.css' %}" rel="stylesheet" type="text/css" />

</head>
<body>
<center>
<div>
<h2>Canny Edge Detection</h2>
<div padding-top="500px"> 
<div class="control"><button id="startAndStop" disabled>Run</button></div>
<!-- <textarea class="code" rows="29" cols="100" id="codeEditor" spellcheck="false">
</textarea> -->
</div>
<br/>
<p class="err" id="errorMessage">Loading OpenCV</p>
<div>
    <table cellpadding="10" cellspacing="10" width="0" border="0">
    <tr>
        <td>
            <video id="videoInput" width=640 height=480></video>
        </td>
        <td>
            <canvas id="canvasOutput" width=640 height=480></canvas>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div class="caption">Input</div>
        </td>
        <td>
            <div class="caption">Output</div>
        </td>
        <td></td>
        <td></td>
    </tr>
    </table>
</div>
</div>
</center>
<script src="https://webrtc.github.io/adapter/adapter-5.0.4.js" type="text/javascript"></script>
<script src="{% static 'demo/utils.js' %}" type="text/javascript"></script>


<script type="text/javascript">
let utils = new Utils('errorMessage');


let streaming = false;
let videoInput = document.getElementById('videoInput');
let startAndStop = document.getElementById('startAndStop');
let canvasOutput = document.getElementById('canvasOutput');
let canvasContext = canvasOutput.getContext('2d');

startAndStop.addEventListener('click', () => {
    if (!streaming) {
        utils.clearError();
        utils.startCamera('vga', onVideoStarted, 'videoInput');
    } else {
        utils.stopCamera();
        onVideoStopped();
    }
});

function onVideoStarted() {
    streaming = true;
    startAndStop.innerText = 'Stop';
    videoInput.width = videoInput.videoWidth;
    videoInput.height = videoInput.videoHeight;
    utils.executeCode('codeSnippet');
}

function onVideoStopped() {
    streaming = false;
    canvasContext.clearRect(0, 0, canvasOutput.width, canvasOutput.height);
    startAndStop.innerText = 'Run';
}

utils.loadOpenCv(() => {
    startAndStop.removeAttribute('disabled');
    textchange = document.getElementById('errorMessage');
    textchange.innerText = "OpenCV Loaded";
});
</script>


<script id="codeSnippet" type="text/javascript">
let video = document.getElementById('videoInput');
let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
let cap = new cv.VideoCapture(video);

const FPS = 30;
function processVideo() {
    try {
        if (!streaming) {
            // clean and stop.
            src.delete();
            dst.delete();
            return;
        }
        let begin = Date.now();
        // start processing.
        cap.read(src);
        cv.cvtColor(src, dst, cv.COLOR_RGBA2GRAY);
        cv.Canny(dst, dst, 50, 100, 3, false);
        cv.imshow('canvasOutput', dst);
        // schedule the next one.
        let delay = 1000/FPS - (Date.now() - begin);
        setTimeout(processVideo, delay);
    } catch (err) {
        utils.printError(err);
    }
};

// schedule the first one.
setTimeout(processVideo, 0);
</script>
</body>
</html>
